body {
 background-image: url("test11.JPG");
 background-color: #cccccc;
 height: 100vh;
 background-size: cover;
 background-position: center;


}



.modal-dialog{
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}

 /* The Modal (background) */
#myModal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modalAlertMessageID #modalAlertMessageContentID {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

#table_id{
 //position: fixed; /* Stay in place */
 width: 100%; /* Full width */
 height: 100%; /* Full height */
}


#table_id tr td{
 white-space: nowrap;
 overflow-x: scroll 
}

.active-button{
	
	display: table;
	margin: auto;
	padding-left: 0;
	
}

.active-button li{
	
	display: inline-block;
	width: 180px;
	
}
.active-button li .round-btn{
	
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #ccc;
	display: block;
	color: #000;
	text-align: center;
	font-family: 'poppins';
	font-weight: 500;
	line-height: 30px;
	max-width: 100%;
	margin: auto;
	position: relative;
	z-index: 1;
	
	
	
}


#step1{
	
	background-color: var(--pink);
	content: var(--white);
	
}

.active-button li:not(:first-child) .round-btn:before
{
	position: absolute;
	content: '';
	width: 154px;
	height: 3px;
	background-color: #ccc;
	left: -154px;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
	
}


.active-button li.active: not(:first-child) .round-btn:before
{
   background-color: var(--pink);	
}



/*
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 150px;
  min-height: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

*/
















